:root {
  --bs-border-color: #6c7ae0;
  --bs-code-color: #214322;
}

.btn-xs {
  padding: 0.125rem 0.25rem;
  font-size: 0.75rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.top-nav-compact {
  padding-top: 0.375rem !important;
  padding-bottom: 0.375rem !important;
}

.top-nav-compact .container-fluid {
  min-height: auto;
}

