nohup.out
server/node_modules
**/.env
server/dist
webapp/node_modules
client-js/node_modules
.vscode
.cursorignore
client-js/.tap
server/.tap
server/pnpm-lock.yaml
webapp/pnpm-lock.yaml
deploy/sead.org.uk.nginx
server/.npmrc webapp/.npmrc
**/.npmrc
**/__pycache__
website/webroot
