# Copy this file to .env and then add your values

# PostgreSQL - either use DATABASE_URL or the individual PGXXX variables
DATABASE_URL=postgresql://user:password@localhost:5432/aiqa

# Elasticsearch
ELASTICSEARCH_URL=http://localhost:9200
