# Environment variables for docker-compose
# These are shared with webapp/.env - Auth0 configuration can be shared

# Auth0 configuration (shared with webapp/.env)
VITE_AUTH0_DOMAIN="winterstein.eu.auth0.com"
VITE_AUTH0_CLIENT_ID=mRqqp4CHdybD2gTt2skAKBnRvvLcAA7a
VITE_AUTH0_AUDIENCE="https://winterstein.eu.auth0.com/api/v2/"

# Server URL for webapp build - This will normally need to be changed
VITE_AIQA_SERVER_URL="http://localhost:4318"
