[Unit]
Description=AIQA Server
After=network.target

[Service]
Type=simple
User=winterwell
WorkingDirectory=/opt/aiqa/server
Environment="NODE_ENV=production"
EnvironmentFile=-/opt/aiqa/server/.env
ExecStart=/usr/bin/env node dist/index.js
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=aiqa-server

# Security settings
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target

# one liner update:
# sudo cp ./deploy/aiqa-server.service /etc/systemd/system/aiqa-server.service && sudo rm -rf /etc/systemd/system/aiqa-server.service.d && sudo systemctl daemon-reload && sudo systemctl reset-failed aiqa-server.service && sudo systemctl restart aiqa-server.service && systemctl status aiqa-server.service --no-pager

