
# Note: client environment variables mostly use an AIQA_ prefix to avoid any conflicts.
# These server variables don't, as this is our space and there is no issue with potential conflicts.

ENVIRONMENT=development

PORT=4318

# Postgresql - neon.db
# https://console.neon.tech/app/projects
PGHOST=
PGDATABASE=neondb
PGUSER=neondb_owner
PGPASSWORD=
PGSSLMODE=require
PGCHANNELBINDING=require

# Elasticsearch
ELASTICSEARCH_URL=http://localhost:9200
SPANS_INDEX=aiqa_spans
SPANS_INDEX_ALIAS=aiqa_spans_alias
DATASET_SPANS_INDEX=aiqa_dataset_spans
DATASET_SPANS_INDEX_ALIAS=aiqa_dataset_spans_alias

# Redis (for rate limiting)
REDIS_URL=redis://localhost:6379

# Auth0 Configuration
AUTH0_DOMAIN=winterstein.eu.auth0.com
AUTH0_AUDIENCE=https://winterstein.eu.auth0.com/api/v2/