<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container">
		<a class="navbar-brand fw-bold d-flex align-items-center" href="/">
			<img src="/common/icons/aiqa-badge.svg" alt="AIQA Logo" height="32" class="me-2" style="display: block;">
			AIQA
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/about.html">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/docs.html">Docs</a>
				</li>
			</ul>
			<div class="d-flex flex-column flex-lg-row gap-2">
				<a class="btn btn-light" href="https://app-aiqa.winterwell.com" rel="noopener">
					<i class="bi bi-box-arrow-in-right me-1"></i>Login
				</a>
				<a class="btn btn-outline-light" href="https://app-aiqa.winterwell.com" rel="noopener">
					<i class="bi bi-person-plus me-1"></i>Sign Up
				</a>
				<a class="btn btn-outline-light" href="https://github.com/winterwell/aiqa" target="_blank" rel="noopener">
					<i class="bi bi-github me-1"></i>GitHub
				</a>
			</div>
		</div>
	</div>
</nav>
